@model BumboPOC.Web.Models.UserDaysModel

@{
    ViewData["Title"] = "Uitbetaling - detail";
}


<div class="d-flex">
    <div class="p-2"><h1>Uitbetaling - Gert-jan Duins</h1></div>
    <div class="ml-auto p-2"><a asp-controller="Payout"
   asp-action="Index" >Terug naar overzicht</a></div>
</div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Week nr.</th>
                <th scope="col">Extra uren</th>
                <th scope="col">Maandag</th>
                <th scope="col">Dinsdag</th>
                <th scope="col">Woensdag</th>
                <th scope="col">Donderdag</th>
                <th scope="col">Vrijdag</th>
                <th scope="col">Zaterdag</th>
                <th scope="col">Zondag</th>
                <th scope="col">Totaal gewerkte uren</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var week in Model.User.WorkedHours().Where(d => d.Date.Month == 1).GroupBy(c => c.Date.WeekNumber()))
            {
                


            <tr>
                <th>@week.Key </th>
                <th>0</th>
                @foreach (var day in Model.DaysOfWeek)
                {
                    
                    <td>
                        @if (week.ToList().Exists(c => c.Date.DayOfWeek == day))
                        {

                        <div class="float-sm-left"><i class="fas fa-store"></i>@Html.DisplayFor(model => week.ToList().First(c => c.Date.DayOfWeek == day).StartTime) - @Html.DisplayFor(model => week.ToList().First(c => c.Date.DayOfWeek == day).EndTime)</div><br>
                             <div class="float-sm-left text-muted"><i class="fas fa-coffee"></i>@week.ToList().First(c => c.Date.DayOfWeek == day).BreakTime().TotalHours</div><br>
                        }
                    </td>
                }

                <th>@week.ToList().Sum(w => w.Duration().TotalHours)</th>
                </tr>
                    
                }

        </tbody>
    </table>
</div>
